<div class="post">

<h1>Show post</h1>

<h3><%= @post.title %></h3>

<h4><%= link_to @post.category.name,category_path(:id => @post.category.id) %></h4>

<smal> <%= @post.created_at.strftime("%b %d. %Y") %> </smal>
<p>
  Created by <%= @post.admin_user.name %>
</p>
<p>
  <%= @post.body %>
</p>
<%= link_to "Back", posts_path %>
</div>
